.logoutSection {
    display: flex;
    
}

.logoutSection a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-muted);
}

.user-info{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 36px;
    margin-left: 16px;
}

.userInfoName{
    font-weight: 500;
}

.userInfoRole{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-muted);
}

.user-profile-circle{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #DBEAFE;
    color: #2563EB;
    font-weight: 500;
}

/* Sidebar Menu */
.menu-items a{
    gap: 16px;
}

/* Dashboard Content */
.addClassRoom{
    background: #fff;
    border-radius: 12px;
    padding: 24px;
    width: 100%;
    margin: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.form-titles {
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
    padding-bottom: 10px;
}

.form-label{
    color: #6b7280;
    font-size: 14px;
    margin-bottom: 24px;
}

.form-row {
    display: grid;
    gap: 16px;
}

.form-row.three-columns{
    grid-template-columns: 1fr 1fr 1fr;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 500;
}

label span {
    color: #ef4444;
}

input,
select {
    height: 42px;
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    outline: none;
}

input:focus,
select:focus {
    border-color: #6366f1;
}

.facilities {
    margin-top: 12px;
    padding-top: 16px;
    border-bottom: 1px solid #e5e7eb;
}

.facilities h4 {
    font-size: 14px;
    margin-bottom: 12px;
    color: #374151;
}

.checkbox-group {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
}

.formBtn {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
}

.formBtn button {
    background: #4f46e5;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

/* CLASSROOM TABLOSU */

.table-container{
    background: var(--white);
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.classroom-table{
    width: 100%;
    border-collapse: collapse;
}

/* Table Header */
.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 20px 0 20px;
}

.header h3{
    font-size: 18px;
    font-weight: 600;
}

.header p{
    font-size: 13px;
    color: #888;
}

.exportBtn, .filterBtn{
    padding: 8px 14px;
    background-color: var(--white);
    border: 1px solid #d1d5db;
    border-radius: 6px;
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

.exportBtn, .filterBtn:hover{
    background-color: #f3f4f6;
    border-color: #9ca3af;
}

/* Table Body */
.classroom-table thead th{
    background: #f9fafb;
    padding: 16px 20px;
    color: #6B7280;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-bottom: 1px solid #E5E7EB;
}

.font-medium { font-weight: 600; color: #111827; }
.classroom-table tbody td {
    padding: 16px 20px;
    border-bottom: 1px solid #E5E7EB;
    color: #374151;
    vertical-align: middle;
    font-size: 0.9rem;
}

.classroom-table tbody tr:last-child td {
    border-bottom: none;
}

.classroom-table tbody tr:hover {
    background-color: #f9fafb; /* Tabloda üzerine gelince renk değişimi */
}

.actions {
    text-align: right;
}

.action-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.action-icons i {
    cursor: pointer;
    color: #9ca3af;
    transition: color 0.2s;
    font-size: 16px;
}

.action-icons i:hover {
    color: var(--primary-color);
}

.action-icons i.fa-trash-can:hover {
    color: #ef4444; /* Silme butonu kırmızı olsun */
}
.badge {
    padding: 4px 12px;
    border-radius: 9999px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
}
.badge.badge-purple {
    background: #E9D5FF;
    color: #9333EA;
}
/* table bottom */
.table-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: var(--white);
    border-top: 1px solid #e5e7eb;
}
.table-bottom p {
    color: var(--text-muted);
    font-size: 14px;
}
.prevBtn, .nextBtn {
    padding: 8px 14px;
    background-color: var(--white);
    border: 1px solid #d1d5db;
    border-radius: 6px;
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

.prevBtn, .nextBtn:hover {
    background-color: #f3f4f6;
    border-color: #9ca3af;
}
.numBtns{
    padding: 8px 14px;
    background-color: var(--white);
    border: 1px solid #d1d5db;
    border-radius: 6px;
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}
.numBtns:hover{
    background-color: #f3f4f6;
    border-color: #9ca3af;
}
.numBtns:active{
    background: #4f46e5;
    color: white;
}